div#back {
    background-color: #FFD200;
}

div#wrapper {
    background-color: #CAF0F6;
    width: 600px;
    margin: auto;
}

h1,
h2,
p,
form,
p div{
    text-align: center;
}
h1,h2{
    padding-top: 20px;
    font-family: 'Baloo Bhaijaan', cursive;
}
h1{
    font-size: 75px;
}
/*星を中央寄せ*/
div.content div{
    text-align: center;
}
img{
    border-radius: 50%;
}
p.avgscore{
    font-size:30px;
}